isbody, p, td, th{
    font-family: Tahoma, Arial;
    font-size: 9pt;
}

body {
  background-color: white;
  color: black;
  margin: 0px 0px 0px 0px;
  overflow-x:hidden;
  overflow-y:hidden
}

code {
  font-size: small;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.gwt-BorderedPanel {
}

.gwt-Button {
	border-color: black;
    border-width:1px;
    border-style: solid;
    background-color: #FAFAFA;
    height: 19px;
}

.gwt-Canvas {
}

.gwt-CheckBox {
  font-size: smaller;
}

.gwt-DialogBox {
  sborder: 1px solid #AAAAAA;
  border: 1px;
  background-color: #AAAAAA;
  overflow:auto;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  cursor: default;
}

.thorn-Dialog-Caption {
  background-color: #C3D9FF;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  cursor: default;
}

.gwt-FileUpload {
}

.gwt-Frame {
}

.gwt-HorizontalSplitter .Bar {
  width: 8px;
  background-color: #C3D9FF;
}

.gwt-VerticalSplitter .Bar {
  height: 8px;
  background-color: #C3D9FF;
}

.gwt-HTML {
  font-size: smaller;
}

.gwt-Hyperlink {
}

.gwt-Image {
}

.gwt-Label {
    font-size: 8pt;
}

.gwt-ListBox {
}

.gwt-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-PasswordTextBox {
}

.gwt-RadioButton {
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border-left: 1px solid #87B3FF;
}

.gwt-TabBar {
  background-color: #C3D9FF;
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #87B3FF;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  cursor: default;
}

.gwt-TextArea {
}

.gwt-TextBox {
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
  font-size: smaller;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #C3D9FF;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

/* -------------------------------------------------------------------------- */
.ks-Sink {
  border: 8px solid #C3D9FF;
  background-color: #E8EEF7;
  width: 100%;
  height: 24em;
}

.ks-Info {
  background-color: #C3D9FF;
  padding: 10px 10px 2px 10px;
  font-size: smaller;
}

.ks-List {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: smaller;
}

.ks-List .ks-SinkItem {
  width: 100%;
  padding: 0.3em;
  padding-right: 16px;
  cursor: pointer;
  cursor: hand;
}

.ks-List .ks-SinkItem-selected {
  background-color: #C3D9FF;
}

.ks-images-Image {
  margin: 8px;
}

.ks-images-Button {
  margin: 8px;
  cursor: pointer;
  cursor: hand;
}

.ks-layouts {
  margin: 8px;
}

.ks-layouts-Label {
  background-color: #C3D9FF;
  font-weight: bold;
  margin-top: 1em;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.ks-layouts-Scroller {
  height: 128px;
  border: 2px solid #C3D9FF;
  padding: 8px;
  margin: 8px;
}

.ks-popups-Popup {
  background-color: white;
  border: 1px solid #87B3FF;
  padding: 4px;
}

.infoProse {
  margin: 8px;
}

.thorn-RequiredLabelUI{
	color:red;
}
.thorn-inputUnderLine{
    border-width: 1px;
    border-style: solid;
    border-color: white white black; 	
}
.thorn-inputButton{
    border-color: black;
    border-width:1px;
    border-style: solid;
    background-color: #FAFAFA;
    height: 19px;
    font-size: 9pt;
}
.thorn-table-gray{
	color: #222222;
	background-color: #FFFFFF;	
}
.thorn-table-white{
	color: #222222;
	background-color: #F0F0F0;
}

.thorn-table-rowHeader{
	font-size:9pt;
    background-color: #D6E9F1;
    padding-top: 10px;
    padding-left: 10px
}
.table-row-selected{
	color: #222222;
	background-color: #0080FF;	
	
}

.table-row-calculate{
	color: #222222;
	background-color: yellow;	
	
}

TABLE.sortableTable TD  {
	border-bottom:solid #93BEE2 1px;
	BORDER-RIGHT:1px solid #93BEE2;
	border-left:0px solid #93BEE2;
	border-top:0px solid #93BEE2;
}

/*
TABLE.sortableTable {width: 1300px;border: 1px solid #93BEE2; border-collapse: collapse;}
*/

TABLE.sortableTable {
	border: 1px solid #93BEE2; 
}

.thorn-loading-label{
	color: blue
}

.thorn-error-message-label{
	color: red
}
.thorn-message-label{
	color: blue
}

.rp { background-color:#AAAAAA; }

IFRAME {
	filter:alpha(opacity=0)
}

.thorn-alpha {
background:green;
filter:alpha(opacity=50);
} 

.thorn-imagealpha {
-moz-opacity:0.5;
filter:alpha(opacity=50);
}

.thorn-roundedPanel {
position:absolute;background-color: white;
}

.rbroundbox { background: url(images/nt.gif) repeat; }
.rbtop div { background: url(images/tl.gif) no-repeat top left; }
.rbtop { background: url(images/tr.gif) no-repeat top right; }
.rbbot div { background: url(images/bl.gif) no-repeat bottom left; }
.rbbot { background: url(images/br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontent { margin: 0 7px; }
.rbroundbox { width: 50%; margin: 1em auto; }

.moz-border-radiu
{
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border: 4px solid #006600;
	padding: 30px;
}

.thorn-buttonbar {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-right: 5px;
}

.thorn-thead {
	width: 100%;
	border: 1px solid #ccc; 
	border-collapse: collapse;
}

.thorn-thread_th {
	text-align: center;
	background-color: #DDDDDD;

	border-bottom:solid #93BEE2 1px;
	BORDER-RIGHT:1px solid #93BEE2;
	border-left:1px solid #93BEE2;
	border-top:1px solid #93BEE2;
}

table.wwFormTable {
    width: 95%;
    background-color: #CCCCCC;}
table.wwFormTable tr.input {
    background-color:white; }
table.wwFormTable td.input {
    background-color:white;
    padding: 1px; }
table.wwFormTable td.bottom{
    text-align: right;
    background-image: url('../images/bottom_bg_40.gif'); }
table.wwFormTable td.title{
    font-size:9pt;
    background-color: #D6E9F1;
    padding-top: 10px;
    padding-left: 10px}
input.boxing {
    border-width: 1px;
    border-style: solid; 
}

DIV.tableContainer {
	CLEAR: both; 
	BORDER-RIGHT: #963 1px solid; 
	BORDER-TOP: #963 1px solid; 
	OVERFLOW: auto; 
	BORDER-LEFT: #963 1px solid; 
	BORDER-BOTTOM: #963 1px solid;
	HEIGHT: 105px;
}
DIV.tableContainer TABLE {
	FLOAT: left;
}
THEAD.fixedHeader TR {
}
THEAD.fixedHeader TH {
	BORDER-RIGHT: #b74 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #eb8 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; BACKGROUND: #c96; PADDING-BOTTOM: 4px; BORDER-LEFT: #eb8 1px solid; PADDING-TOP: 4px; TEXT-ALIGN: center
}